 .container {
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }

        .left-half, .right-half {
            width: 50%;
        }
        
        
        .reservation-list {
            border: none;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .reservation-item, .favorite-item {
            border-bottom: 1px solid #ddd;
            padding: 10px 0;
            position: relative;
            background-color: rgb(0, 85, 255);

        }

        .reservation-item:last-child, .favorite-item:last-child {
            border-bottom: none;
        }

        .remove-button {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 2px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color:rgb(0, 85, 255);
            color: white;
            font-size: 28px;
            font-weight: bold;
            transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
        }

        .remove-button:hover {
            background-color: rgb(255, 255, 255);
            color: white;
            border-color: white;
        }

        .favorite-card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
        }

        .favorite-card img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 5px;
        }

        .favorite-card .details {
            flex-grow: 1;
            margin-left: 10px;
        }

       .heart {
            position: relative;
            width: 20px;
            height: 20px;
            cursor: pointer;
            display: inline-block;
            background-color: grey;
            transform: rotate(-45deg);
            margin: 10px;
        }

        .heart::before,
        .heart::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: grey;
            border-radius: 50%;
        }

        .heart::before {
            top: -10px;
            left: 0;
        }

        .heart::after {
            left: 10px;
            top: 0;
        }

        .heart.favorited {
            background-color: red;
        }

        .heart.favorited::before,
        .heart.favorited::after {
            background-color: red;
        }

                .btn {
                    width: 100px;
        }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
