.container {
    display: flex;
    flex-direction: row;
    border: none;
}

.left-half {
    flex: 1;
    padding: 15px;
}

.left-half img {
    width: 300px;
    height: 200px;
    border: 1px solid #ddd;
}

.right-half {
    flex: 1;
    background-color: #f8f9fa;
    flex-direction: column;
    justify-content: space-between;
    height: 35em;
}

.reserve-content {
    background-color: rgba(173, 216, 230, 0.5);
}

.back-link {
    display: inline-block;
    font-size: 24px;
    background-color: transparent;
    border: solid;
    text-decoration: none;
    color: black;
}

.back-link:hover {
    color: #0056b3;
}

.remove-button {
    font-size: 0.8rem;
    padding: 0px 3px;
    border-color: #f8f9fa;
    border-radius: 45%;
    cursor: pointer;
}

.under-right-content {
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

.btn-reserve {
    background-color: #2600ff;
}
