.heart {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    background-color: grey;
    transform: rotate(-45deg);
    margin: 10px;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: grey;
    border-radius: 50%;
}

.heart::before {
    top: -10px;
    left: 0;
}

.heart::after {
    left: 10px;
    top: 0;
}

.heart.favorited {
    background-color: red;
}

.heart.favorited::before,
.heart.favorited::after {
    background-color: red;
}

/*虫眼鏡*/
.material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 12;
    padding: 0;
}

.custom-select,
.custom-input {
    border: none;
    box-shadow: none;
    border-radius: 0;
    outline: none;
}

.custom-input {
    width: 160px;
}

@media (max-width: 576px) {
    .custom-input {
        width: 120px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .custom-input {
        width: 140px;
    }
}

/* 検索条件 */
.search-container {
    position: fixed;
    top: 0px; /* 上からの距離 */
    right: 20px; /* 右からの距離 */
    z-index: 1000; /* 他の要素の上に表示 */
    padding: 10px; /* 内側の余白 */
}

@media (max-width: 658px) {
    .search-container {
        top: 60px; /* ヘッダーメニューの高さに合わせて調整 */
        right: 10px;
        width: 90%; /* 幅を画面に収まるように調整 */
        left: 5%; /* 中央に配置 */
    }
}

/* 検索項目全体を1つに繋げる */
.search-item {
    border: none;
    padding: 5px;
    background-color: transparent;
}

/* 項目間の縦線 */
.vertical-line {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 70%;
    width: 1px;
    background-color: #ccc;
}

.vertical-line.order-outline {
    position: absolute;
    right: 0;
    top: 35%;
    transform: translateY(-50%);
    height: 50%;
    width: 1px;
    background-color: #ccc;
}

.search-item .search-input .vertical-line {
    display: none;
}

.container {
    margin-top: 30px;
}

@media (max-width: 576px) {
    .container {
        margin-top: 55px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .container {
        margin-top: 48px;
    }
}
