.container {
    display: flex;
    flex-direction: row;
    border: none;
}

.left-half {
    flex: 1;
    padding: 15px;
}

.left-half img {
    width: 300px;
    height: 200px;
    border: 1px solid #ddd;
}

.right-half {
    flex: 1;
    background-color: #f8f9fa;
    flex-direction: column;
    justify-content: space-between;
    height: 35em;
}

.reserve-content {
    background-color: rgba(173, 216, 230, 0.5);
}

.back-link {
    display: inline-block;
    font-size: 24px;
    background-color: transparent;
    border: solid;
    text-decoration: none;
    color: black;
}

.back-link:hover {
    color: #0056b3;
}

.back-button {
    font-size: 1rem; /* ボタンの文字サイズを調整 */
    padding: 2px 8px; /* ボタン内側の余白を小さくして領域を縮小 */
    box-shadow: 0.5px 0.5px;
    border-radius: 30%;
}

.under-right-content {
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

.btn-reserve {
    background-color: #2600ff;
}
/* 星マーク */
.rate-form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.rate-form input[type="radio"] {
    display: none;
}
.rate-form label {
    position: relative;
    padding: 0 5px;
    color: #ccc;
    cursor: pointer;
    font-size: 35px;
}

.rate-form label:hover {
    color: #006aff;
}
.rate-form label:hover ~ label {
    color: #006aff;
}

.rate-form label ~ label:hover {
    color: #006aff;
}

.rate-form input[type="radio"]:checked ~ label {
    color: #006aff !important;
}
label {
    outline: none;
    box-shadow: none;
    caret-color: transparent;
}

.rate-form input[type="radio"]:disabled + label,
.rate-form input[type="radio"]:disabled + label ~ label,
.rate-form input[type="radio"]:disabled + label:hover,
.rate-form input[type="radio"]:disabled + label:hover ~ label,
.rate-form input[type="radio"]:disabled + label ~ label:hover {
    color: #ccc;
    cursor: not-allowed;
}

.upload-area {
    border: 2px #aaa;
    padding: 30px;
    text-align: center;
    color: #666;
    cursor: pointer;
    width: 100%;
    max-width: 320px;
    margin: 20px auto;
    transition: border-color 0.2s;
    position: relative;
    background: #fafafa;
}

.upload-area.dragover {
    border-color: #3182ce;
    background: #f0f8ff68;
    color: #3182ce;
    cursor: copy;
}

.heart {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    background-color: grey;
    transform: rotate(-45deg);
    margin: 10px;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: grey;
    border-radius: 50%;
}

.heart::before {
    top: -10px;
    left: 0;
}

.heart::after {
    left: 10px;
    top: 0;
}

.heart.favorited {
    background-color: red;
}

.heart.favorited::before,
.heart.favorited::after {
    background-color: red;
}
